.wd-navigation-fa-stack {
    vertical-align: top;
    font-size: 0.625em;
}

.wd-search-bar-glass {
    position: absolute;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
}

.wd-overlay-text {
    position: absolute;
    bottom: -8px;
    left: 12px;
}

.wd-overlay-topic-text {
    position: absolute;
    bottom: 30px;
    left: 12px;
}

.wd-post-summary-item-image {
    width: 96px;
    height: 96px
}

.wd-who-to-follow-item-icon {
    width: 48px;
    height: 48px
}

.wd-bg-light-gray {
    background-color: #F7F9F8;
}

.wd-border-light-gray {
    border-color: #F7F9F8;
}

.wd-who-to-follow-border-radius{
    border-radius: 15px;
}

.wd-darker-gray {
    color: #4A5863;
}

.wd-link-without-underline {
    text-decoration: none;
}

.wd-text-tuiter-blue {
    color: #179FEB;
}

.wd-bg-tuiter-blue {
    background-color: #179FEB;
}

.wd-foryou-link {
    color: black;
    font-size: 15px;
    padding-bottom: 12px;
    margin: 16px 16px 16px 0;
    text-decoration: none;
    border-bottom: solid 4px #179FEB;
}

.wd-other-link {
    color: #6e767d;
    font-size: 15px;
    padding: 16px;
    text-decoration: none;
}

.wd-flex-container {
    display: flex;
    justify-content: space-around;
}

.wd-tweet-button {
    max-width: 200px;
}

.wd-bold-text {
    font-weight: 900;
}